<html>
    <head>
        <meta charset="UTF-8">
        <title>Your FriendShip Destroyer</title>
    </head>

    <body>
        <div id ='help'>
        <div align="center"><h1>Your FriendShip Destroyer...</h1></div>
        <h2>什么是四子棋？</h2>
        <p><li>Literally, 某个玩家四个子连在一起就赢了.</li></p>
        </div>
        <hr/>
        <div align="center" id="table">
            {{table|safe}}
        </div>
        <hr/>
        <div align="center">
            <p id="control">
            {{control|safe}}
            </p>
        </div>
        <hr>
        <p id="log">
            {{log|safe}}
        </p>
        
    </body>
    <script>
        var player = 1;
        var dirty = false;
        function take(x, y){
            if(dirty){
                return;
            }
            dirty = true;
            if(document.getElementById('currentPlayer').innerText != player.toString()){
                alert('现在不是你的回合！')
                return;
            }
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '../control?mode=set&x=' + x + '&y=' + y + '&val=' + player, true);
            xhr.send();
        }
        
        function selPlayer(x) {
            player = x;
        }

    </script>

    <script language="JavaScript">
        function reloadTable(){
            var xhr1 = new XMLHttpRequest();
            xhr1.open('GET', '../control?mode=getTable', true);
            xhr1.send();
            xhr1.onreadystatechange = function () {
                if (xhr1.readyState == 4 && xhr1.status == 200) {
                    var res = xhr1.responseText;//获取到json字符串，解析
                    document.getElementById('table').innerHTML = res;
                }
            };
            dirty = false;
        }
        function reloadLog(){
            var xhr2 = new XMLHttpRequest();
            xhr2.open('GET', '../control?mode=getLog', true);
            xhr2.send();
            xhr2.onreadystatechange = function () {
                if (xhr2.readyState == 4 && xhr2.status == 200) {
                    var res = xhr2.responseText;//获取到json字符串，解析
                    document.getElementById('log').innerHTML = res;
                }
            };
        }

        setInterval("reloadTable()", 1000);
        setInterval("reloadLog()", 10000);
    </script>
</html>

